h1{text-align: center;font-family: 'Hanalei', cursive;color: lime;}
h2{text-align: center;font-family: 'Modak', cursive;color: fuchsia;}
.material-icons{vertical-align: -10%;color: orangered;font-size: 40px !important;}